*
/*
!.*
.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.bash_history
.bash_profile
.crash_report_checksum
.crash_report_frames
.crash_report_preview
.git-completion.sh
.gvimrc
.history
.mysql_history
.oh-my-zsh/
.pry_history
.rbenv/
.rdebug_hist
.rediscli_history
.vim/
.viminfo
.vimrc
.zcompdump
.zsh-update
.zsh_history
.zshrc
.zshrc.pre-oh-my-zsh
.pgpass
