[submodule "janus/javascript-libraries-syntax"]
	path = janus/javascript-libraries-syntax
	url = git://github.com/othree/javascript-libraries-syntax.vim
[submodule "janus/bootstrap-snippets"]
	path = janus/bootstrap-snippets
	url = git://github.com/bonsaiben/bootstrap-snippets.git
[submodule "zsh/pure"]
	path = zsh/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "janus/angular-vim-snippets"]
	path = janus/angular-vim-snippets
	url = git@github.com:matthewsimo/angular-vim-snippets.git
[submodule "base16-shell"]
	path = base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "janus/base16-vim"]
	path = janus/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "janus/Align"]
	path = janus/Align
	url = git@github.com:vim-scripts/Align.git
[submodule "janus/vim-jsx"]
	path = janus/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "janus/vim-rbenv"]
	path = janus/vim-rbenv
	url = https://github.com/tpope/vim-rbenv
