[submodule "janus/vim-rails"]
	path = janus/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "janus/vim-numbertoggle"]
	path = janus/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "jump_around"]
	path = jump_around
	url = git://github.com/rupa/z.git
[submodule "janus/screen"]
	path = janus/screen
	url = git://github.com/ervandew/screen
[submodule "janus/vim-tomdoc"]
	path = janus/vim-tomdoc
	url = git://github.com/jc00ke/vim-tomdoc.git
[submodule "janus/tomdoc.vim"]
	path = janus/tomdoc.vim
	url = git://github.com/duwanis/tomdoc.vim.git
[submodule "janus/javascript-libraries-syntax"]
	path = janus/javascript-libraries-syntax
	url = git://github.com/othree/javascript-libraries-syntax.vim
[submodule "janus/zencoding-vim"]
	path = janus/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "janus/bootstrap-snippets"]
	path = janus/bootstrap-snippets
	url = git://github.com/bonsaiben/bootstrap-snippets.git
